a { cursor: pointer; }
.help-block { font-size: 12px; }

html {
  height: 100%;
  font-size: 18px;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

.root {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
  font-size: 16px;
}

legend {
  border-bottom: 0;
}

header a:focus, a:hover {
  text-decoration: none;
  outline: none;
}